#formLogin {
    width: 265px;
    height: 260px;
    border: 1px solid black;
    background: darkgray;
    margin-top: 30px;
}

button {
    margin-top: 10px;
}

#logo > div {
    border: 1px solid black;
}

#body > div {
    border: 1px solid black;
    height: 800px
}
